{% extends "base.html" %}
{% block content %}

<section class="silver content text">
	<div class="row tac">
		<div class="col-sm-12">
			<h1>Você tem certeza que deseja remover a história</span>?</h1>
			<i class="hr"></i>

			<form method="post" action="">
				{% csrf_token %}
				{% if redirect_field_value %}
				<input type="hidden" name="{{redirect_field_name}}" value="{{redirect_field_value}}"/>
				{% endif %}
				<div class="btn-group">
					<a href="/user/" class="btn btn-lg btn-primary"><i class="icon icon-arrow-left"></i> Não, desejo voltar</a>
					<button type="submit" class="btn btn-lg btn-danger"><i class="icon icon-power-off"></i> Sim, desejo excluir</button>
				</button>
			</form>
		</div>
	</div>
</section>

{% endblock %}
