
{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<section class="silver content text">
	<div class="row">
		<div class="col-sm-12">

			<h1>Oi, eu sou {{genderLetter}} <span>{{dog.name}}</span>!</h1>


			<div class="row">
				<div class="col-sm-3">
					<div class="row tac">
						<div class="col-sm-12">
							{% if dog.photo %}
							<img src="{{dog.photo.url}}"  alt="{{dog.name}}" title="{{dog.name}}" class="frame"/>
							{% else %}
							<img src="{% static "img/logo.png" %}" alt="{{dog.name}}" title="{{dog.name}}" class="fame"/>
							{% endif %}
						</div>
					</div>

					<div class="row tac">
						<div class="col-sm-12">

							{% if dogIsAvailable %}
							<a class="btn btn-success" id="adoptionButton"><i class="icon icon-heart"></i> Adotar</a>
							{% elif dog.in_adoption_process and dog.adopted_by.user.id == user.person.user.id %}
							<a class="btn btn-primary" href="#"><i class="icon icon-comments"></i> Processo de adoção</a>
							{% elif dog.in_adoption_process and dog.adopted_by.user.id != user.person.user.id %}
							<a class="btn btn-primary" href="#"><i class="icon icon-comments"></i> Avaliar adoção</a>
							{% endif %}
						</div>
					</div>

				</div>
				<div class="col-sm-9 tal">
					<div><strong>Nome: </strong> {{dog.name}}</div>
					<div><strong>Sexo: </strong> <span class="gender {{dog.gender}}">{% ifequal dog.gender "M" %}Masculino &#9794; {% else %}Feminino &#9792;{% endifequal %}</span></div>
					<div><strong>Cor: </strong> {{color}}</div>
					<div><strong>Raça: </strong> {{dog.breed}}</div>
					<div><strong>Porte: </strong> {{size}}</div>
					<div><strong>Data de nascimento: </strong> {{dog.birth_date}} </div>
					<div><strong>Sobre mim: </strong> {{dog.description}}</div>

					{% if dog.adopted %}
					<div><strong>Adotado por: </strong> {{dog.adopted_by}}</div>
					{% else %}
					<div><strong>Colocado em adoção por: </strong> {{dog.in_adoption_by}} </div>
					{% endif %}

				</div>

				<h1>Características</h1>
				<div class="col-sm-9 tal">
					{% for f in char %}
						<div><strong>{{f.label}} </strong> {% if f.data == True %} Sim {% elif f.data == False %} Não {% else %} Desconhecido {% endif %}</div>


					{% endfor %}

				</div>

			</div>

		</div>

		<div class="clear"></div>
	</div>
</section>

<div class="modal fade" id="adoptionModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Adotar {{dog.name}}</h4>
			</div>
			<form name="adoptionMessageForm" action="" method="post">{% csrf_token %}
				<div class="modal-body">

					<div>Adotar um animal representa muito mais do que um gesto de solidariedade; é um gesto de amor. Existem pessoas que, por tanto amar, acabam se tornando protetores. Mande uma mensagem para <strong>{{dog.in_adoption_by}}</strong> para mostrar interesse na adoção d{{genderLetter}} <strong>{{dog.name}}</strong>.</div>

					<span class="badge" style="display: none;" id="adoptionMessageError">Você deve escrever uma mensagem!</span>
					
					<textarea name="content" placeholder="Escreva aqui sua mensagem" class="form-control" id="adoptionMessage" maxlength="500"></textarea>

				</div>
				<div class="modal-footer">
					<a class="btn btn-default" data-dismiss="modal">Cancelar</a>
					<a class="btn btn-success" id="continueAdoption"><i class="icon icon-heart"></i> Continuar Adoção</a>
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}
