
{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

	<section class="silver content text">
		<div class="row">
			<div class="col-sm-12">

				<h1>Oi, eu sou o <span>{{dog.name}}</span>!</h1>


				<div class="row">
					<div class="col-sm-3">
						<div class="row tac">
							<div class="col-sm-12">
								<img src={% static "img/dogs/9.jpg" %} alt="{{dog.name}}" title="{{dog.name}}" class="frame"/>
							</div>
						</div>

						<div class="row tac">
							<div class="col-sm-12">
								<a href="#" class="btn btn-success"><i class="icon icon-heart"></i> Adotar</a>
							</div>
						</div>

					</div>
					<div class="col-sm-9 tal">
						<div><strong>Nome: </strong> {{dog.name}}</div>
						<div><strong>Sexo: </strong> {{dog.gender}} &#9794;</div>
						<div><strong>Cor: </strong> {{dog.color}}</div>
						<div><strong>Raça: </strong> {{dog.breed}}</div>
						<div><strong>Porte: </strong> {{dog.size}}</div>
						<!--<div><strong>Idade: </strong> 10 anos</div>-->
						<div><strong>Data de nascimento: </strong> {{dog.birth_date}} </div>
						<div>
							<strong>Sobre mim: </strong>
							{{dog.description}}
						</div>
					</div>

				</div>

			</div>

			<div class="clear"></div>

		</div>
	</section>

{% endblock %}
