{% load staticfiles %}
<!DOCTYPE html>



<html>
<head>
	<title>MyFriend</title>
	<link rel="stylesheet" type="text/css" href={% static "css/style.css" %} />
	<link rel="stylesheet" type="text/css" href={% static "css/bootstrap.min.css" %} />
	<link href="http://vjs.zencdn.net/c/video-js.css" rel="stylesheet">
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	<link rel="shortcut icon" href={% static "img/logo.png" %}>
</head>
<body>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-45158998-1', 'myfriend-2.herokuapp.com');
		ga('send', 'pageview');
	</script>

	<header class="home">
		<div class="row">
			<div class="col-sm-12">
				<div id="mask">
					<img class="static_bg" src={% static "img/1.jpg" %} style="display: none;">
					<video id="main_video" class="video-js vjs-default-skin" loop autoplay muted preload="auto" controls preload="auto" width="100%" height="100%" data-setup="{'controls': false}" poster={% static "img/1.jpg" %}>  
						<source src={% static "img/bg.mp4" %} type='video/mp4' /> 
						<source src={% static "img/bg.webm" %} type='video/webm' />
					</video>

					<div></div>
				</div>

				<div id="logo">
					<a href="/">
						<img src={% static "img/logo.png" %} alt="MyFriend">
						<h1>MyFriend</h1>
					</a>
					<div class="clear"></div>
				</div>

				<ul>

					<li class="r"><a href="{% url 'index' %}"><i class="icon icon-home"></i> home</a></li>
					<li class="p"><a href="{% url 'search-dog' %}"><i class="icon icon-search"></i> procurar</a></li>
					<li class="g"><a href="{% url 'index' %}"><i class="icon icon-comment"></i> histórias</a></li>
					{% if request.user.is_authenticated %}
					<li class="b"><a href="{% url 'user' %}"><i class="icon icon-user"></i> sua conta</a></li>
					{% else %}
					<li class="b"><a href="{% url 'account_login' %}"><i class="icon icon-user"></i> entrar</a></li>
					{% endif %}

				</ul>

				<select name="mnh" class="form-control" style="display: none;">
					<option value="home">Home</option>
					<option value="search">Procurar</option>
					<option value="testimonials">Histórias</option>
					<option value="login">Entrar</option>
				</select>

				<div class="clear"></div>

			</div>
		</div>
	</header>

	<section class="blue">
		<div class="row">
			<div class="col-sm-12">
				<h1>Cães não são nossa vida inteira, mas eles fazem nossas vidas inteiras</h1>
				<h2>O MyFriend é uma rede de compartilhamente de cães para adoção, para facilitar seu encontro com seu novo melhor amigo e dar a ele um lar!</h2>
			</div>
		</div>
	</section>

	<section class="imgholder" id="imgholder"></section>

	<section class="red">
		<div class="row">
			<div class="col-sm-12">
				<h1>O mais legal é ver dar certo!</h1>
				<h2>Vários cãezinhos já estão em um novo lar, conheça essas histórias</h2>

				<div class="image_carousel">
					<div id="adopted_dogs">
						{% for dog in dogs %}
						{% if dog.photo %}
						<!--<a href="{% url 'detail-dog' dog.id %}">-->
						<img src="{{dog.photo.url}}" alt="{{dog.name}}" width="140" height="140" data-toggle="tooltip" title="{{dog.name}}" 
						data-url="{% url 'detail-dog' dog.id %}"/> 
						{% else %}
						<!--<a href="{% url 'detail-dog' dog.id %}">-->
						<img src="" alt="{{dog.name}}" width="140" height="140" data-toggle="tooltip" title="{{dog.name}}" 
						data-url="{% url 'detail-dog' dog.id %}"/>
						{% endif %} 
						{% endfor %}
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</section>

	<section class="silver content patrocinio">
		<div class="row">

			<div class="col-sm-12 tac">
				<h1>Patrocínio</h1>

				<div class="row">
					<div class="col-sm-4 partner">
						<a href="#"><img class="partner" src={% static "img/parceiros/pedigree.jpg" %} alt="Pedigree"/></a>
					</div>
					<div class="col-sm-4 partner">
						<a href="#"><img class="partner" src={% static "img/parceiros/pedigree.jpg" %} alt="Pedigree"/></a>
					</div>
					<div class="col-sm-4 partner">
						<a href="#"><img class="partner" src={% static "img/parceiros/pedigree.jpg" %} alt="Pedigree"/></a>
					</div>
				</div>
			</div>

			<div class="clear"></div>
		</div>
	</section>


	<section class="ribbon">
		<img src={% static "img/logo_inverse.png" %} alt="MyFriend">
	</section>

	<footer>

		<div>
			<a href="{% url 'search-dog' %}"><i class="icon icon-search"></i> Procurar</a>
			{% if request.user.is_authenticated %}
			<a href="{% url 'account_logout' %}"><i class="icon icon-power-off"></i> Sair</a>
			{% else %}
			<a href="{% url 'account_login' %}"><i class="icon icon-user"></i> Entrar</a>
			<a href="{% url 'account_signup' %}"><i class="icon icon-plus"></i> Registrar</a>
			{% endif %}

			
		</div>

		<div id="credits">

			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about/">Sobre</a></li>
				<li><a href="/dogs/search/">Procurar</a></li>
				<li><a href="/">Histórias</a></li>
				<li><a href="/">Eventos</a></li>
			</ul>

			<div class="clear"></div>

			<div class="medias">
				<a href="#"><i class="icon icon-twitter"></i></a>
				<a href="#"><i class="icon icon-facebook"></i></a>
				<a href="https://plus.google.com/b/113517750719378358074"><i class="icon icon-google-plus"></i></a>
			</div>

			&copy; MyFriend 2013
		</div>
	</footer>

</body>

<script type="text/javascript" src={% static "js/jquery.js" %}></script>
<script type="text/javascript" src={% static "js/caroufredsel.js" %}></script>
<script type="text/javascript" src={% static "js/bootstrap.js" %}></script>
<script type="text/javascript" src={% static "js/js.js" %}></script>
<script src="http://vjs.zencdn.net/c/video.js"></script>
<script type="text/javascript" src={% static "js/responsive.js" %}></script>

</html>
