{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<section class="silver content text search-list">

	<div class="row">
		<div class="col-sm-12">

			<h1>Resultados da busca</h1>

			<div class="row tac">
				<div class="col-sm-6">

				<div class="preview" id="full-search">
						<div class="colour" id="dog-mask" style="background: #333333;">
							<img src={% static "img/mask.png" %} id="dog-img">
						</div>
					</div>

				</div>

				<div class="col-sm-6 tal">
					<div class="row">
						<div class="col-sm-12">
							<strong>Raça: </strong> {{breed}}
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<strong>Tamanho: </strong> {{size}}
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<strong>Cor: </strong> {{color}}
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<a href="{% url 'search-dog' %}" class="btn btn-primary">Refazer a busca</a>
						</div>
					</div>
				</div>
			</div>				

			<i class="hr" style="margin-bottom: 30px;"></i>



			<div class="row tac">

			
				{% for dog in dogs %}

				<div class="col-sm-3">
					

					{% if dog.photo %}
					<a href="{% url 'detail-dog' dog.id %}"><img src="{{dog.photo.url}}" alt="{{dog.name}}" title="{{dog.name}}" class="frame"/></a>
					{% else %}
					<a href="{% url 'detail-dog' dog.id %}"><img src="" alt="{{dog.name}}" title="{{dog.name}}" class="frame"/></a>

					{% endif %} 
					<div>{{dog.name}}</div>

				</div>
				{% endfor %}

			</div>
			{% comment %}
			<div class="row tac">
				<div class="col-sm-3">
					<a href="#"><img src={% static "img/dogs/9.jpg" %} alt="Carl" title="Carl" class="frame"/></a>
					<div>Nome</div>
				</div>
				<div class="col-sm-3">
					<a href="#"><img src={% static "img/dogs/9.jpg" %} alt="Carl" title="Carl" class="frame"/></a>
					<div>Nome</div>
				</div>
				<div class="col-sm-3">
					<a href="#"><img src={% static "img/dogs/9.jpg" %} alt="Carl" title="Carl" class="frame"/></a>
					<div>Nome</div>
				</div>
				<div class="col-sm-3">
					<a href="#"><img src={% static "img/dogs/9.jpg" %} alt="Carl" title="Carl" class="frame"/></a>
					<div>Nome</div>
				</div>
			</div>
			{% endcomment %}

		</div>

	</div>
</section>

{% endblock %}
