{% extends "base.html" %}
{% block content %}

	<section class="silver content text">

		<div class="row">
			<div class="col-sm-12">

				<h1>Histórias</h1>
				<i class="hr"></i>

				<table class="table table-hover table-testimonials">
					<tr class="active">
						<th>Data do encontro</th>
						<th>Dono</th>
						<th>Cão</th>
					</tr>

					<tr data-id="">
						<td>10/10/2012</td>
						<td>Sam</td>
						<td>Carl</td>
					</tr>

				</table>

			</div>

		</div>
	</section>

{% endblock %}
