{% extends "base.html" %}
{% block content %}

	<section class="silver content text search-list">

		<div class="row">
			<div class="col-sm-12">

				<h1>Resultados da busca</h1>
				
				<div class="row tac">
					<div class="col-sm-6">

						<div class="preview">
							<div class="colour">
								<img src={% static "img/mask.png" height="100">
							</div>
						</div>

					</div>

					<div class="col-sm-6 tal">
						<div class="row">
							<div class="col-sm-12">
								<strong>Raça: </strong> Lorem
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<strong>Raça: </strong> Lorem
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<strong>Raça: </strong> Lorem
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<a href="#" class="btn btn-primary">Refazer a busca</a>
							</div>
						</div>
					</div>
				</div>				

				<i class="hr" style="margin-bottom: 30px;"></i>

				<div class="row tac">
					<div class="col-sm-3">
						<a href="#"><img src={% static "img/dogs/9.jpg" %} alt="Carl" title="Carl" class="frame"/></a>
						<div>Nome</div>
					</div>
					<div class="col-sm-3">
						<a href="#"><img src={% static "img/dogs/9.jpg" %} alt="Carl" title="Carl" class="frame"/></a>
						<div>Nome</div>
					</div>
					<div class="col-sm-3">
						<a href="#"><img src={% static "img/dogs/9.jpg" %} alt="Carl" title="Carl" class="frame"/></a>
						<div>Nome</div>
					</div>
					<div class="col-sm-3">
						<a href="#"><img src={% static "img/dogs/9.jpg" %} alt="Carl" title="Carl" class="frame"/></a>
						<div>Nome</div>
					</div>
				</div>

				<div class="row tac">
					<div class="col-sm-3">
						<a href="#"><img src={% static "img/dogs/9.jpg" %} alt="Carl" title="Carl" class="frame"/></a>
						<div>Nome</div>
					</div>
					<div class="col-sm-3">
						<a href="#"><img src={% static "img/dogs/9.jpg" %} alt="Carl" title="Carl" class="frame"/></a>
						<div>Nome</div>
					</div>
					<div class="col-sm-3">
						<a href="#"><img src={% static "img/dogs/9.jpg" %} alt="Carl" title="Carl" class="frame"/></a>
						<div>Nome</div>
					</div>
					<div class="col-sm-3">
						<a href="#"><img src={% static "img/dogs/9.jpg" %} alt="Carl" title="Carl" class="frame"/></a>
						<div>Nome</div>
					</div>
				</div>

			</div>

		</div>
	</section>

{% endblock %}
