{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}

{% if error %}
erro
{% for field in form_dog %}
<div class="fieldWrapper">
	{{ field.errors }}
	{{ field.label_tag }}
</div>
{% endfor %}
{% endif %}

<section class="silver content text">
	<div class="row">
		<div class="col-sm-12">

			<h1>Dados do cão</h1>
			<i class="hr"></i>

			<form name="signup" action="" enctype="multipart/form-data" method="post">{% csrf_token %}
				<div class="form-group">
					<div class="row">
						<div class="col-sm-12"><span class="badge">{{ form_dog.name.errors }}</span></div>
					</div>
					<div class="row">
						<div class="col-sm-6">Nome:</div>
						<div class="col-sm-6">{{ form_dog.name|attr:"class:form-control"}}</div>
					</div>
				</div>

				<div class="form-group">
					<div class="row">
						<div class="col-sm-12"><span class="badge">{{ form_dog.description.errors }}</span></div>
					</div>
					<div class="row">
						<div class="col-sm-6">Descrição:</div>
						<div class="col-sm-6">{{ form_dog.description|attr:"class:form-control"}}</div>
					</div>
				</div>

				<div class="form-group">
					<div class="row">
						<div class="col-sm-12"><span class="badge">{{ form_dog.birth_date.errors }}</span></div>
					</div>
					<div class="row">
						<div class="col-sm-6">Data de nascimento:</div>
						<div class="col-sm-6">{{ form_dog.birth_date|attr:"type:date"|attr:"class:form-control"|attr:"type:date"}}</div>
					</div>
				</div>

				<div class="form-group">
					<div class="row">
						<div class="col-sm-12"><span class="badge">{{ form_dog.size.errors }}</span></div>
					</div>
					<div class="row">
						<div class="col-sm-6">Porte:</div>
						{{ form_dog.size|attr:"class:form-control"}}
					</div>
				</div>


				<div class="form-group">
					<div class="row">
						<div class="col-sm-12"><span class="badge">{{ form_dog.gender.errors }}</span></div>
					</div>
					<div class="row">
						<div class="col-sm-6">Sexo:</div>
						<div class="col-sm-6">{{ form_dog.gender|attr:"class:form-control"}}</div>
					</div>
				</div>

				<div class="form-group">
					<div class="row">
						<div class="col-sm-12"><span class="badge">{{ form_dog.color.errors }}</span></div>
					</div>
					<div class="row">
						<div class="col-sm-6">Cor:</div>
						<div class="col-sm-6">
							{{ form_dog.color|attr:"class:form-control"}}
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="row">
						<div class="col-sm-12"><span class="badge">{{ form_dog.breed.errors }}</span></div>
					</div>
					<div class="row">
						<div class="col-sm-6">Raça:</div>
						<div class="col-sm-6">
							{{ form_dog.breed|attr:"class:form-control" }}
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="row">
						<div class="col-sm-12"><span class="badge">{{ form_dog.photo.errors }}</span></div>
					</div>
					<div class="row">
						<div class="col-sm-6">Foto:</div>
						<div class="col-sm-6">{{ form_dog.photo|attr:"class:form-control" }}</div>
						<!--<div class="col-sm-6"><input type="file" name="photo" placeholder="Foto do cachorro" class="form-control"/></div>-->
					</div>
				</div>
				{% comment %}
				<h1>Dados de localização do cão</h1>
				<i class="hr"></i>

				<div class="form-group">
					<div class="row">
						<div class="col-sm-6">Usar seu endereço:</div>
						<div class="col-sm-6">
							<div class="col-md-6">
								<input type="radio" name="use_user_address" value="Y"/> Sim
							</div>
							<div class="col-md-6">
								<input type="radio" name="use_user_address" value="N" checked="checked" /> Não
							</div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="row">
						<div class="col-sm-6">CEP:</div>
						<div class="col-sm-6"><input type="text" name="zipcode" placeholder="CEP" class="form-control"/></div>
					</div>
				</div>


				<div class="form-group">
					<div class="row">
						<div class="col-sm-6">Rua:</div>
						<div class="col-sm-6"><input type="text" name="street" placeholder="Rua" class="form-control"/></div>
					</div>
				</div>

				<div class="form-group">
					<div class="row">
						<div class="col-sm-6">Bairro:</div>
						<div class="col-sm-6"><input type="text" name="neighb" placeholder="Bairro" class="form-control"/></div>
					</div>
				</div>

				<div class="form-group">
					<div class="row">
						<div class="col-sm-6">Cidade:</div>
						<div class="col-sm-6"><input type="text" name="city" placeholder="Cidade" class="form-control"/></div>
					</div>
				</div>

				<div class="form-group">
					<div class="row">
						<div class="col-sm-6">Estado:</div>
						<div class="col-sm-6"><input type="text" name="state" placeholder="Estado" class="form-control"/></div>
					</div>
				</div>

				{% endcomment %}

				<div class="tar">
					<button type="submit" class="btn btn-primary" value="Submit">Concluir registro</button>
				</div>
			</form>
		</div>

		<div class="clear"></div>

	</div>
</section>

{% endblock %}
