
{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block content %}



<section class="silver content text">
	<div class="row">
		<div class="col-sm-12">


			<h1>Nova história</h1>
			<i class="hr"></i>

			<form action="" method="post">
				{% csrf_token %}
				{% for field in form_testimonial %}

				<div class="form-group">
					<div class="row">
						<div class="col-sm-6">{{ field.label_tag }}:</div>
						<div class="col-sm-6">{{ field|attr:"class:form-control"}}</div>
					</div>
					{% if field.errors %}
					<div class="row">
						<div class="col-sm-6 col-sm-offset-6">
							<div class="alert alert-danger">
								{{ field.errors }}
							</div>
						</div>
					</div>
					{% endif %}
				</div>

				{% endfor %}


				<div class="tar">
					<div class="btn-group">
						<a href="/user/" class="btn btn-lg btn-danger"><i class="icon icon-arrow-left"></i> Cancelar </a>
						<button type="submit" class="btn btn-lg btn-success" value="Submit"><i class="icon icon-check"></i> Enviar história</button>
					</div>
				</div>
			</form>
		</div>

		<div class="clear"></div>

	</div>
</section>


{% endblock %}
