{% extends "base.html" %}
{% block content %}

	<section class="silver content text search-list">

		<div class="row">
			<div class="col-sm-12">

				<h1>Busca</h1>
				
				<div class="row tac">
					<div class="col-sm-6">

						<div class="preview">
							<div class="colour">
								<img src={% static "img/mask.png" height="100">
							</div>
						</div>

					</div>
					<form name="search" action="" method="get">
					<div class="col-sm-6 tal">
						<div class="row">
							<div class="col-sm-6">Raça:</div>
							<div class="col-sm-6">
								<select name="breed" class="form-control">
									{% for b in breeds %}
									<option value="{{b}}">{{b}}</option>
									{% endfor %}
								</select>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-6">Tamanho:</div>
							<div class="col-sm-6">
								<select name="size" class="form-control">
									<option value="xs">Toy</option>
									<option value="s">Pequeno</option>
									<option value="m">Médio</option>
									<option value="l">Grande</option>
									<option value="xl">Muito Grande</option>
								</select>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-6">Cor:</div>
							<div class="col-sm-6">
								<select name="color" class="form-control">
									<option value="bl">Preto</option>
									<option value="ma">Marrom</option>
									<option value="wh">Branco</option>
									<option value="gr">Cinza</option>
									<option value="go">Dourado</option>
									<option value="bw">Preto/Branco</option>
								</select>
							</div>
						</div>

						<div class="row tar">
							<button type="submit" class="btn btn-primary" value="submit"><i class="icon icon-search"></i> Buscar</button>
						</div>


					</div>
				</div>
			</div>

		</div>
	</section>
{% endblock %}
