{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<section class="silver content text search-list">

	<div class="row">
		<div class="col-md-6">

			<h1>Busca Comum</h1>

			<div class="row tac">
				<div class="col-sm-5">
					<div class="preview">
						<div class="colour" id="dog-mask" style="background: #333333;">
							<img src={% static "img/mask.png" %} id="dog-img"/>
						</div>
					</div>
				</div>

				<div class="col-sm-7 tal">
					<form name="search" id="wysiwyg-form" action="" method="get">

						<div class="row">
							<div class="col-sm-4">Raça:</div>
							<div class="col-sm-8">
								<!--<input id="breedselect" type="text" class="form-control" adata-provide="typeahead" autocomplete="off"/>-->
								<select name="breed" class="form-control">
									<option value="Todas" selected="selected">Todas</option>
									{% for b in breeds %}
									<option value="{{b}}">{{b}}</option>
									{% endfor %}
								</select>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-4">Tamanho:</div>
							<div class="col-sm-8">
								<select name="size" class="form-control">
									<option value="Todas" selected="selected">Todas</option>
									<option value="xs">Muito pequeno</option>
									<option value="s">Pequeno</option>
									<option value="m">Médio</option>
									<option value="l">Grande</option>
									<option value="xl">Muito Grande</option>
								</select>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-4">Cor:</div>
							<div class="col-sm-8">
								<select name="color" class="form-control">
									<option value="Todas" selected="selected">Todas</option>
									<option value="bl">Preto</option>
									<option value="ma">Marrom</option>
									<option value="wh">Branco</option>
									<option value="gr">Cinza</option>
									<option value="go">Dourado</option>
									<option value="bw">Preto/Branco</option>
								</select>
							</div>
						</div>

						<div class="row tac">
							<div class="btn-group">
								<button name="buscar" type="submit" class="btn btn-primary" value="submit"><i class="icon icon-search"></i> Todos os cães</button>
								<button name="abandonado" type="submit" class="btn btn-primary" value="abandonado"><i class="icon icon-search"></i> Somente cães abandonados</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="col-md-5 col-md-offset-1">
			<h1>Busca por personalidade</h1>

			Teste uma busca por personalidade: com base nas suas respotas de perfil você consegue achar o cão que mais combina com você!
			<div class="row tac" style="margin-top: 20px;">
				{% if request.user.is_authenticated %}
				<form name="search" id="wysiwyg-form" action="" method="get">

					<button name="personalidade" type="submit" class="btn btn-primary" value="personalidade"><i class="icon icon-search"></i> Buscar cães por personalidade</button>

				</form>
				{% else %}
				<a href="{% url 'account_login' %}" class="btn btn-primary" ><i class="icon icon-user"></i> Entre para buscar</a>
				{% endif %}
			</div>
		</div>

	</div>

</section>


{% endblock %}
