{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<section class="silver content text search-list">

	<div class="row">
		<div class="col-sm-12">

			<h1>Busca</h1>

			<div class="row tac">
				<div class="col-sm-6">

					<div class="preview">
						<div class="colour" id="dog-mask" style="background: #333333;">
							<img src={% static "img/mask.png" %} id="dog-img"/>
						</div>
					</div>

				</div>
				<form name="search" id="wysiwyg-form" action="" method="get">
					<div class="col-sm-6 tal">
						<div class="row">
							<div class="col-sm-6">Raça:</div>
							<div class="col-sm-6">
								<input id="breedselect" type="text" class="form-control" adata-provide="typeahead" autocomplete="off"/>
								<select name="breed" class="form-control" style="display: none;">
									<option value="Todas" selected="selected">Todas</option>
									{% for b in breeds %}
									<option value="{{b}}">{{b}}</option>
									{% endfor %}
								</select>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-6">Tamanho:</div>
							<div class="col-sm-6">
								<select name="size" class="form-control">
									<option value="Todas" selected="selected">Todas</option>
									<option value="xs">Muito pequeno</option>
									<option value="s">Pequeno</option>
									<option value="m">Médio</option>
									<option value="l">Grande</option>
									<option value="xl">Muito Grande</option>
								</select>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-6">Cor:</div>
							<div class="col-sm-6">
								<select name="color" class="form-control">
									<option value="Todas" selected="selected">Todas</option>
									<option value="bl">Preto</option>
									<option value="ma">Marrom</option>
									<option value="wh">Branco</option>
									<option value="gr">Cinza</option>
									<option value="go">Dourado</option>
									<option value="bw">Preto/Branco</option>
								</select>
							</div>
						</div>

						<div class="row tar">
							<div class="btn-group">
								<button name="buscar" type="submit" class="btn btn-primary" value="submit"><i class="icon icon-search"></i> Buscar todos os cães</button>
								<button name="abandonado" type="submit" class="btn btn-primary" value="abandonado"><i class="icon icon-search"></i> Buscar somente cães abandonados</button>
							</div>
						</div>

						{% if request.user.is_authenticated %}
						<div class="row tar">
							<button name="personalidade" type="submit" class="btn btn-primary" value="personalidade"><i class="icon icon-search"></i> Buscar cães por personalidade</button>
						</div>
						{% endif %}

						


					</div>
				</form>
			</div>
		</div>

	</div>
</section>


{% endblock %}
