{% extends "base.html" %}
{% block content %}

	<section class="silver content text">
		<div class="row">
			<div class="col-sm-12">

				<h1><span>{{t.dog.name}}</span> e seu novo dono!</h1>


				<div class="row">
					<div class="col-sm-9 tal">
						<div>
							{{t.content}}
						</div>
					</div>

					<div class="col-sm-3">
						<div class="row">
							<div class="col-sm-12">
								<img src="{{t.dog.photo.url}}" alt="{{t.dog.name}}" title="{{t.dog.name}}" class="frame"/>
							</div>
						</div>
						
						{% if request.user and t.adopter.user.id == request.user.id %}
						<div class="row">
							<div class="col-sm-12">
								<a href="{% url 'remove-testimonial' t.id %}" class="btn btn-danger"><i class="icon icon-remove"></i> Excluir</a>
							</div>
						</div>
						{% endif %}
					</div>

				</div>

			</div>

			<div class="clear"></div>

		</div>
	</section>

{% endblock %}
