@font-face {
  font-family: 'Voltaire';
  font-style: normal;
  font-weight: 400;
  src: local('Voltaire'), url(fonts/ag0Q3_6hjQFerbCN2Eewq_esZW2xOQ-xsNqO47m55DA.woff) format('woff');
}

@font-face {
  font-family: 'Snippet';
  font-style: normal;
  font-weight: 400;
  src: local('Snippet'), url(fonts/L0Wz4OxoiqQlT_trcL56uA.woff) format('woff');
}

@font-face {
  font-family: 'Andika';
  font-style: normal;
  font-weight: 400;
  src: local('Andika'), url(fonts/7oCWhqd1EPSqB7_cG3_eAA.woff) format('woff');
}

@font-face {
  font-family: 'JosefinSans';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Sans'), local('JosefinSans'), url(fonts/xgzbb53t8j-Mo-vYa23n5nhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}