

{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load account %}
{% load socialaccount %}
{% load url from future %}
{% block content %}

<section class="silver content text">
	<div class="row">
		<div class="col-sm-6">
			<h1>Entrar</h1>
			<i class="hr"></i>

			<form name="login" action="" method="POST">{% csrf_token %}
				{% if redirect_field_value %}
				<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
				{% endif %}
				<div class="form-group">
					<div class="row">
						<div class="col-sm-6">Usuário:</div>
						<div class="col-sm-6"><input type="text" name="login" placeholder="Seu usuário" class="form-control"/></div>
					</div>
				</div>

				<div class="form-group">
					<div class="row">
						<div class="col-sm-6">Senha:</div>
						<div class="col-sm-6"><input type="password" name="password" placeholder="Sua senha" class="form-control"/></div>
					</div>
				</div>
				
				<!-- {{form.remember}} -->

				<button type="submit" class="btn btn-primary">Entrar</button>

				<div class="tac">Ou</div>

				<div class="tac" style="margin-top: 20px;">
					<a class="btn btn-primary btn-lg" href="{% provider_login_url "facebook" method="oauth2" %}"><i class="icon icon-facebook-sign"></i> Entrar com Facebook</a>
				</div>

		</div>

		<div class="col-sm-6">
			<h1>Registrar</h1>
			<i class="hr"></i>

			<div class="tac">
				<a class="btn btn-primary btn-lg" href="{{ signup_url }}"><i class="icon icon-plus-sign"></i> Clique aqui para se cadastrar</a> 
			</div>

			<!-- <form name="signup" action="">
				<div class="form-group">
					<div class="row">
						<div class="col-sm-6">Nome:</div>
						<div class="col-sm-6"><input type="text" name="name" placeholder="Seu nome" class="form-control"/></div>
					</div>
				</div>

				<div class="form-group">
					<div class="row">
						<div class="col-sm-6">Usuário:</div>
						<div class="col-sm-6"><input type="text" name="user" placeholder="Seu usuário" class="form-control"/></div>
					</div>
				</div>

				<div class="form-group">
					<div class="row">
						<div class="col-sm-6">Senha:</div>
						<div class="col-sm-6"><input type="text" name="user" placeholder="Sua senha" class="form-control"/></div>
					</div>
				</div>

				<div class="form-group">
					<div class="row">
						<div class="col-sm-6">Repita a Senha:</div>
						<div class="col-sm-6"><input type="text" name="passr" placeholder="Repita a senha" class="form-control"/></div>
					</div>
				</div>

				<button type="submit" class="btn btn-primary">Registrar</button>
			</form> -->
		</div>

		<div class="clear"></div>

	</div>
</section>

<!-- <section class="silver content text">
	<div class="row">
		<div class="col-sm-6">
			{% if socialaccount.providers  %}
			<p>{% blocktrans with site.name as site_name %}Por favor, logue-se com uma das suas contas nesses sites. Ou <a href="{{ signup_url }}">cadastre-se</a> 
				para uma conta em {{site_name}} e se logue abaixo:{% endblocktrans %}</p>

				<div class="socialaccount_ballot">

					<ul class="socialaccount_providers">
						{% include "socialaccount/snippets/provider_list.html" with process="login" %}
					</ul>

					<div class="login-or">{% trans 'or' %}</div>

				</div>

				{% include "socialaccount/snippets/login_extra.html" %}

				{% endif %}
			</div>
			<div class="col-sm-6">
				<h1>Entrar</h1>
				<i class="hr"></i>




				<a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
				<button class="primaryAction" type="submit">{% trans "Sign In" %}</button>

				<form name="login" action="" method="POST">{% csrf_token %}

					{% if redirect_field_value %}
					<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
					{% endif %}
					<div class="form-group">
						<div class="row">
							<div class="col-sm-6">Usuário:</div>
							<div class="col-sm-6"><input type="text" name="login" placeholder="Seu usuário" class="form-control"/></div>
						</div>
					</div>

					<div class="form-group">
						<div class="row">
							<div class="col-sm-6">Senha:</div>
							<div class="col-sm-6"><input type="text" name="password" placeholder="Sua senha" class="form-control"/></div>
						</div>
					</div>
					
					{{form.remember}}

					<button type="submit" class="btn btn-primary">Entrar</button>
				</form>
			</div>

			<form class="login" method="POST" action="{% url 'account_login' %}">


			</form>

			<div class="clear"></div>

		</div>
	</section> -->


	{% endblock %}
