{% extends "account/base.html" %}
{% load widget_tweaks %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<!-- <h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
	{% csrf_token %}
	{{ form.as_p }}
	{% if redirect_field_value %}
	<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
	{% endif %}
	<button type="submit">{% trans "Sign Up" %} &raquo;</button>
</form> -->

<section class="silver content text">
	<div class="row">
		<div class="col-sm-12">
			<h1>Registrar</h1>
			<i class="hr"></i>

			<form name="signup_form" method="post" action="{% url 'account_signup' %}">
				{% csrf_token %}
				<div class="form-group {% if form.username.errors %}has-error{% endif %}">
					<div class="row">
						<div class="col-sm-6">Usuário:</div>
						<div class="col-sm-6">{{ form.username|attr:"placeholder:Seu usuário"|attr:"class:form-control" }}</div>
					</div>
					{% if form.username.errors %}
					<div class="row">
						<div class="col-sm-6 col-sm-offset-6">
							<div class="alert alert-danger">
								{{ form.username.errors }}
							</div>
						</div>
					</div>
					{% endif %}
				</div>

				<div class="form-group {% if form.email.errors %}has-error{% endif %}">
					<div class="row">
						<div class="col-sm-6">E-mail:</div>
						<div class="col-sm-6">{{ form.email|attr:"placeholder:Seu email"|attr:"class:form-control" }}</div>
					</div>
					{% if form.email.errors %}
					<div class="row">
						<div class="col-sm-6 col-sm-offset-6">
							<div class="alert alert-danger">
								{{ form.email.errors }}
							</div>
						</div>
					</div>
					{% endif %}
				</div>

				<div class="form-group {% if form.password1.errors %}has-error{% endif %}">
					<div class="row">
						<div class="col-sm-6">Senha:</div>
						<div class="col-sm-6">{{ form.password1|attr:"placeholder:Sua senha"|attr:"class:form-control" }}</div>
					</div>
					{% if form.password1.errors %}
					<div class="row">
						<div class="col-sm-6 col-sm-offset-6">
							<div class="alert alert-danger">
								{{ form.password1.errors }}
							</div>
						</div>
					</div>
					{% endif %}
				</div>

				<div class="form-group {% if form.password2.errors %}has-error{% endif %}">
					<div class="row">
						<div class="col-sm-6">Repita a Senha:</div>
						<div class="col-sm-6">{{ form.password2|attr:"placeholder:Repita a senha"|attr:"class:form-control" }}</div>
					</div>
					{% if form.password2.errors or form.non_field_errors %}
					<div class="row">
						<div class="col-sm-6 col-sm-offset-6">
							<div class="alert alert-danger">
								{{ form.password2.errors }}
								{{ form.non_field_errors }}
							</div>
						</div>
					</div>
					{% endif %}
				</div>

				<div class="tar">
					<button type="submit" class="btn btn-lg btn-success" value="Submit"><i class="icon icon-check"></i> Concluir registro</button>
				</div>
			</form>
		</div>
	</div>
</section>

{% endblock %}


