<!DOCTYPE html>
<html>
<head>
	<title>MyFriend - Usuário</title>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
	<link href="http://vjs.zencdn.net/c/video-js.css" rel="stylesheet">
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	<link rel="shortcut icon" href="img/logo.png">
</head>
<body>

	<header class="basic">
		<div id="mask">
			<div></div>
		</div>

		<div class="row">
			<div class="col-xs-6 col-md-4">
				<div id="logo">
					<img src="img/logo.png" alt="MyFriend">
					<h1>MyFriend</h1>
					<div class="clear"></div>
				</div>
			</div>

			<div class="col-xs-12 col-md-8">
				<ul>
					<li class="r"><a href="#"><i class="icon icon-home"></i> home</a></li>
					<li class="p"><a href="#"><i class="icon icon-search"></i> procurar</a></li>
					<li class="g"><a href="#"><i class="icon icon-comment"></i> histórias</a></li>
					<li class="b"><a href="#"><i class="icon icon-user"></i> entrar</a></li>
				</ul>	

				<select name="mnh" class="form-control">
					<option value="home">Home</option>
					<option value="search">Procurar</option>
					<option value="testimonials">Histórias</option>
					<option value="login">Entrar</option>
				</select>	
			</div>
		</div>
	</header>


	<section class="silver content text">
		<div class="row">
			<div class="col-sm-12">

				<h1>Sua conta</h1>
				<i class="hr"></i>
				<div class="tac">
					<div class="btn-group">
						<a href="{% url 'person-edit' %}" class="btn btn-lg btn-primary"><i class="icon icon-edit"></i> Editar seus dados</a>
						<a href="{% url 'dog-create' %}" class="btn btn-lg btn-success"><i class="icon icon-plus"></i> Registrar cachorro</a>
					</div>
				</div>
			</div>

		</div>

		<div class="row">
			<div class="col-sm-12">

				<h1>Seus cachorros</h1>
				<i class="hr"></i>

				<table class="table table-striped table-owner">
					<tr>
						<th>Nome</th>
						<th>Situação</th>
						<th>Dono original</th>
						<th>Controle</th>
					</tr>
					{% for dog in dogs %}
					<tr>
						<td><a href="{% url 'detail-dog' dog.id %}">{{dog.name}}</a></td>
						<td>{% if dog.adopted %} Adotado {% else %} Para adoção {% endif %}</td>
						<td>{% if user.id == dog.in_adoption_by.user.id %} Você {% else %}
						<a href="{% url 'detail-person' dog.in_adoption_by.id %}">{{dog.in_adoption_by.user.firstname}}</a> {% endif %}</td>
						<td>
							<div class="btn-group">
								<a href="{% url 'edit-dog' dog.id %}" class="btn btn-primary"><i class="icon icon-edit"></i> Editar</a>
								<form name="adopt" action="" method="post">{% csrf_token %}
								<button  class="btn btn-danger" type="submit" value="{{dog.id}}" name="remove"><i class="icon icon-remove"></i> Excluir</button></form>
								<!--<a href="#" class="btn btn-success"><i class="icon icon-comment"></i> Depoimento</a>-->
							</div>
						</td>
					</tr>
					{% endfor %}

				</table>

			</div>

		</div>
	</section>


	<section class="ribbon">
		<img src="img/logo_inverse.png" alt="MyFriend">
	</section>

	<footer>

		<div>
			<a href="#"><i class="icon icon-search"></i> Procurar</a>
			<a href="#"><i class="icon icon-user"></i> Entrar</a>
			<a href="#"><i class="icon icon-plus"></i> Registrar</a>
		</div>

		<div id="credits">

			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Sobre</a></li>
				<li><a href="#">Procurar</a></li>
				<li><a href="#">Histórias</a></li>
				<li><a href="#">Eventos</a></li>
			</ul>

			<div class="clear"></div>			

			<div class="medias">
				<a href="#"><i class="icon icon-twitter"></i></a>
				<a href="#"><i class="icon icon-facebook"></i></a>
				<a href="#"><i class="icon icon-google-plus"></i></a>
			</div>

			&copy; MyFriend 2013
		</div>
	</footer>

</body>

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/js.js"></script>
<script type="text/javascript" src="js/responsive.js"></script>

</html>