{% extends "base.html" %}
{% load staticfiles %}
{% block content %}


<section class="silver content text">
	<div class="row" style="margin-bottom: 40px;">
		<div class="col-sm-12">

			<nav class="navbar navbar-default" role="navigation" style="border: solid 1px #333;">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#" style="color: #222;"><strong>{{ user }}</strong></a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="{% url 'edit-person' %}"><i class="icon icon-edit"></i> Editar seus dados</a></li>
						<li><a href="{% url 'create-answer' %}"><i class="icon icon-user"></i> Questionário de personalidade</a></li>
						<li><a href="{% url 'create-dog' %}"><i class="icon icon-plus"></i> Novo cão</a></li>

						{% if canWrite %}
						<li><a href="{% url 'create-testimonial' %}"><i class="icon icon-plus"></i> Criar história</a></li>
						{% endif %}
					</ul>
					<ul class="nav navbar-right">
						<li><a href="{% url 'account_logout' %}"><i class="icon icon-power-off"></i> Sair</a></li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</nav>

		</div>

	</div>

	<div class="row">
		<div class="col-sm-12">

			<h1>Seus cachorros</h1>
			<i class="hr"></i>

			<table class="table table-striped table-owner">
				<tr>
					<th>Nome</th>
					<th>Situação</th>
					<th>Dono original</th>
					<th>Controle</th>
					<th>Remover cão</th>
				</tr>
				{% for dog in dogs %}
				<tr>
					<td><a href="{% url 'detail-dog' dog.id %}">{{dog.name}}</a></td>
					<td>
						{% if dog.abandoned == False %}
						{% if dog.adopted %}
						<i class="icon icon-smile"></i> Adotado
						{% elif dog.in_adoption_process %}
						<i class="icon icon-comments"></i> Em processo de adoção
						{% else %}
						<i class="icon icon-heart"></i> Colocado para adoção
						{% endif %}
						{% else %}
						{% if dog.adopted %}
						<i class="icon icon-smile"></i> Encontrado!
						{% elif dog.in_adoption_process %}
						<i class="icon icon-comments"></i> Aparentemente encontrado
						{% else %}
						<i class="icon icon-heart"></i> Abandonado
						{% endif %}
						{% endif %}
					</td>

					<td>{% if user.id == dog.in_adoption_by.user.id %} Você {% else %} <strong>{{dog.in_adoption_by.user}}</strong> {% endif %}</td>
					<td>
						<div class="btn-group">
							{% if dog.abandoned == False %}
							{% if dog.in_adoption_process and dog.adopted_by.user.id == user.id %}

							<a class="btn btn-default dogprocess" data-id="{{dog.id}}" data-adopter="1"><i class="icon icon-comments"></i> Processo de adoção</a>

							{% elif dog.in_adoption_process and dog.adopted_by.user.id != user.id %}

							<a class="btn btn-default dogprocess" data-id="{{dog.id}}" data-adopter="0"><i class="icon icon-comments"></i> Avaliar adoção</a>

							{% elif not dog.adopted %}

							<a href="{% url 'edit-dog' dog.id %}" class="btn btn-primary"><i class="icon icon-edit"></i> Editar</a>
							<!--<a href="#" class="btn btn-success"><i class="icon icon-comment"></i> Depoimento</a>-->
							{% endif %}
							{% else %}
							{% if dog.in_adoption_process and dog.adopted_by.user.id == user.id %}

							<a class="btn btn-default dogprocess" data-id="{{dog.id}}" data-adopter="1"><i class="icon icon-comments"></i> Processo de abandono</a>

							{% elif dog.in_adoption_process and dog.adopted_by.user.id != user.id %}

							<a class="btn btn-default dogprocess" data-id="{{dog.id}}" data-adopter="0"><i class="icon icon-comments"></i> Avaliar abandono</a>

							{% elif not dog.adopted %}

							<a href="{% url 'edit-dog' dog.id %}" class="btn btn-primary"><i class="icon icon-edit"></i> Editar</a>
							<!--<a href="#" class="btn btn-success"><i class="icon icon-comment"></i> Depoimento</a>-->

							{% elif dog.adopted and dog.adopted_by.user.id == user.id %}
							<button  class="btn btn-danger" type="submit" value="{{dog.id}}" name="abadocao"><i class="icon icon-remove"></i> Colocar para adoção</button>

							{% endif %}
							{% endif %}
						</div>
					</td>

					<td>
						<a href="{% url 'remove-dog' dog.id %}" class="btn btn-danger"><i class="icon icon-remove"></i> Remover</a>
					</td>
				</tr>
				{% endfor %}

			</table>


			<h1>Suas histórias</h1>
			<i class="hr"></i>

			<table class="table table-hover table-testimonials">
				<tr class="active">
					<th>Data do encontro</th>
					<th>Dono</th>
					<th>Cão</th>
					<th>Editar</th>
					<th>Remover</th>
				</tr>
				{% for t in testimonials %}
				<tr data-id=""> 
					<td>{{t.date}}</td>
					<td>{{t.adopter}}</td>
					<td>{{t.dog.name}}</td>
					<td><a href="{% url 'edit-testimonial' t.id %}" class="btn btn-default"><i class="icon icon-external-link"></i> Editar</a></td>
					<td><a href="{% url 'remove-testimonial' t.id %}" class="btn btn-danger"><i class="icon icon-remove"></i> Excluir</a>
					</td>
				</tr>
				{% endfor %}

			</table>

		</div>

	</div>
</section>


<div class="modal fade" id="processModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Mensagens para adoção</h4>
			</div>
			<div class="modal-body">

				<div class="tac" id="loader">
					<img src={% static "img/loader.gif" %} alt="loading"/>
				</div>

				<div id="processThread"></div>

				<div id="formMessage">
					<span class="badge" style="display: none;" id="adoptionMessageError">Você deve escrever uma mensagem!</span>
					<textarea name="content" placeholder="Escreva aqui sua mensagem" class="form-control" id="adoptionMessage" maxlength="500"></textarea>
					<div class="tar" style="margin-top: 20px;"><a class="btn btn-primary" id="sendMessage"><i class="icon icon-reply"></i> Enviar mensagem</a></div>
				</div>

			</div>
			<div class="modal-footer">
				<a class="btn btn-default" data-dismiss="modal">Cancelar</a>
				<a class="btn btn-danger" id="denyAdoption"><i class="icon icon-remove"></i> Negar Adoção</a>
				<a class="btn btn-success" id="confirmAdoption"><i class="icon icon-heart"></i> Confirmar Adoção</a>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">var safecode = '{{ csrf_token }}';</script>

{% endblock %}
