{% extends "base.html" %}
{% block content %}


<section class="silver content text">
	<div class="row">
		<div class="col-sm-12">

			<h1>Sua conta</h1>
			<i class="hr"></i>
			<div class="tac">
				<div class="btn-group">
					<a href="{% url 'edit-person' %}" class="btn btn-lg btn-primary"><i class="icon icon-edit"></i> Editar seus dados</a>
					<a href="{% url 'create-dog' %}" class="btn btn-lg btn-success"><i class="icon icon-plus"></i> Registrar cachorro</a>
					<a href="{% url 'account_logout' %}" class="btn btn-lg btn-danger"><i class="icon icon-power-off"></i> Sair</a>
				</div>
			</div>
		</div>

	</div>

	<div class="row">
		<div class="col-sm-12">

			<h1>Seus cachorros</h1>
			<i class="hr"></i>

			<table class="table table-striped table-owner">
				<tr>
					<th>Nome</th>
					<th>Situação</th>
					<th>Dono original</th>
					<th>Controle</th>
				</tr>
				{% for dog in dogs %}
				<tr>
					<td><a href="{% url 'detail-dog' dog.id %}">{{dog.name}}</a></td>
					<td>{% if dog.adopted %} Adotado {% else %} Para adoção {% endif %}</td>
					<td>{% if user.id == dog.in_adoption_by.user.id %} Você {% else %}
						<a href="{% url 'detail-person' dog.in_adoption_by.id %}">{{dog.in_adoption_by.user.firstname}}</a> {% endif %}</td>
						<td>
							<form name="adopt" action="" method="post">{% csrf_token %}
								<div class="btn-group">
									<a href="{% url 'edit-dog' dog.id %}" class="btn btn-primary"><i class="icon icon-edit"></i> Editar</a>
									<button  class="btn btn-danger" type="submit" value="{{dog.id}}" name="remove"><i class="icon icon-remove"></i> Excluir</button>
									<!--<a href="#" class="btn btn-success"><i class="icon icon-comment"></i> Depoimento</a>-->
								</div>
							</form>
						</td>
					</tr>
					{% endfor %}

				</table>

			</div>

		</div>
	</section>

	{% endblock %}