
{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<section class="silver content text">
	<div class="row">
		<div class="col-sm-12">

			<h1>Sobre o MyFriend</h1>
			<i class="hr"></i>

			<p>Este projeto, desenvolvido por um grupo de alunos da UFSCar - Sorocaba, baseia-se principalmente na coluna social do abandono de cães. O número de animais abandonados e para adoção é grande na maioria das cidades brasileiras, e há um déficit de sites disponíveis para adoção dos mesmos. Em pesquisa de mercado feita pelo grupo com uma amostragem de mais de duzentas pessoas (incluindo pesquisa internacional) foi notado que no Brasil 89% das pessoas gostam de animais e 98% na pesquisa internacional (realizada com 48 pessoas) seguem o mesmo resultado, mostrando um nicho de ligação social elevado.</p>

			<p>Apesar da maioria das pessoas nunca terem acessado sites do tipo, 76% destas, nacionalmente, acreditam que faltam sites de busca específica do gênero. O projeto descrito neste relatório, nomeado de <strong>MyFriend</strong>, é um sistema que tem como diferencial a busca pelos cães de uma maneira mais natural, explorando assim, o dado levantado pela pesquisa.</p>

			<p>Em geral, usuários que buscam adotar cães procuram em páginas de redes sociais como o <em>Facebook</em>, em sites de ONGs relacionadas, ou mesmo em abrigos locais para cães, mas dificilmente em sites próprios para isso. Isso faz com que não haja uma centralização na informação, fazendo com que muitas pessoas não achem um cão que satisfaça suas necessidades. O <strong>MyFriend</strong> busca resolver esses problemas.</p>

		</div>
	</div>
</section>


{% endblock %}