
{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<section class="silver content text">
	<div class="row">
		<div class="col-sm-3">
			<div class="list-group">
				<a href="#busca" class="list-group-item"><i class="icon icon-search"></i> Busca</a>
				<a href="#adocao" class="list-group-item"><i class="icon icon-heart"></i> Adoção</a>
				<a href="#mobile" class="list-group-item"><i class="icon icon-phone"></i> Mobile</a>
				<a href="#historias" class="list-group-item"><i class="icon icon-edit"></i> Histórias</a>
				<a href="#servico" class="list-group-item"><i class="icon icon-briefcase"></i> Termos de serviço</a>
			</div>
		</div>

		<div class="col-sm-8 col-sm-offset-1">
			<h1>Central de ajuda</h1>
			<i class="hr"></i>

			<a name="busca"></a><h2 class="font-blue">Busca</h2>

			<p>A busca é o maior enfoque do MyFriend. Para fazer uma busca basta acessa-la pelo menu superior e escolher a melhor busca para suas necessidades e que estejam disponíveis para a adoção. São disponibilizados 3 tipos de busca:</p>

			<ul>
				<li>Comum: selecionando "todos os cães", todos os cães com as características escolhidas são pesquisados.</li>
				<li>Abandonados: selecionando "apenas abandonados", todos os cães abandonados com as características escolhidas são pesquisados.</li>
				<li>Personalidade: disponível apenas para pessoas com contas e que tenham respondido ao questionário de personalidade. Pesquisa cães que tenham personalidade parecida.</li>
			</ul>

			<a name="adocao"></a><h2 class="font-blue">Processo de adoção</h2>
			<p>O processo de adoção começa quando a pessoa que deseja adotar um cachorro, clica no botão de adotar e manda uma mensagem ao doador. Depois disso, tanto o doador quanto a pessoa que está adotando o cão, podem entrar na página de usuário, "Sua conta", para manter uma conversação, clicando no botão de controle do cão. Depois de os detalhes serem acertados, como garantias de que o cão será bem tratado, local para encontro, e depois de o cão efetivamente encontrar um novo dono, o doador pode confirmar a adoção. Caso o doador queira rejeitar a adoção, ou ocorra algum problema, ele pode negar a adoção.</p>

			<a name="mobile"></a><h2 class="font-blue">Mobile</h2>
			<p>O sistema possui interface responsiva e se adapta ao tamanho da tela. Telas com menos de 320 pixels de largura podem sofrer com problemas de usabilidade. Alguns problemas são conhecidos em dispositivos menores de sistema operacional mais antigo. O melhor uso é feito em desktops utilizando Google Chrome ou Apple Safari.</p>

			<a name="historias"></a><h2 class="font-blue">Histórias</h2>
			<p>As histórias nada mais são que casos de encontro entre pessoas e cães, que deram certo com a ajuda do MyFriend. Nessa seção, é possível visualizar histórias já existentes, contadas por pessoas que adotaram cães. Caso você tenha adotado um cão, você pode adicionar uma história entrando em "Sua conta", e então clicando em "Adicionar história". Na página de adição, só é necessário selecionar um cão que você adotou, colocar um título para sua história, e então contar ela, para que todos possam.</p>

			<a name="servico"></a><h2 class="font-blue">Termos de serviço</h2>
			<p>O MyFriend é apenas um intermediador para adoção. O MyFriend não doa cães e, em nenhuma hipótese, tem fins lucrativos ou ganha com a venda de animais. Toda a operação de adoção é de total responsabilidade das partes envolvidas, sendo o MyFriend apenas o veículo comunicador.</p>

		</div>
	</div>
</section>


{% endblock %}